<div class="card bg-card text-dark">
  <div class="card-header">

  </div>
  <div class="container">
    <div class="container register" style="margin: 0%; width: 100%;">
      <div class="row">
      <div class="col-md-3 register-left text-center">



      </div>
      <div class="col-md-9 register-right">

      <div class="tab-content" >
      <div class="tab-pane fade show active"  role="tabpanel" aria-labelledby="home-tab">
      <h4 class="register-heading" style="margin-top: 3%; ;">Detalle de {{empleado.nombre}}</h4>
      <div class="row register-form" >

      <div class=" h-10 ">

        <table class="table ">
          <tbody>


            <tr>
              <th scope="row">Apellido: </th>
              <td>{{empleado.apellido}}</td>
            </tr>

            <tr>
              <th scope="row">Email: </th>
              <td>{{empleado.email}}</td>
            </tr>

            <tr>
              <th scope="row">Direccion: </th>
              <td>{{empleado.direccion}}</td>
            </tr>

            <tr>
              <th scope="row">Genero: </th>
              <td>{{empleado.genero}}</td>
            </tr>

            <tr>
              <th scope="row">Fecha de nacimiento: </th>
              <td>{{empleado.fecha}}</td>
            </tr>

            <tr>
              <th scope="row">Telefono: </th>
              <td>{{empleado.telefono}}</td>
            </tr>

            <tr>
              <th scope="row">Sueldo: </th>
              <td>{{empleado.sueldo}}</td>
            </tr>

            <tr>
              <th scope="row">Departamento: </th>
              <td>{{empleado.departamento.nombre}}</td>
            </tr>

            <tr>
              <th scope="row">Proyecto: </th>
              <td>{{empleado.proyecto.nombre}}</td>
            </tr>

          </tbody>
        </table>



      </div>


      </div>

      </div>



      </div>
      </div>
      </div>
      </div>

  </div>

</div>










